/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* quicksand */


/* hero  */
#hero-bottom {
    background-image: url(./figma.img/hero-bottom-bg.png);
    background-size: cover;
    background-position: right;
}

#hero-bottom-h1 {
    font-family: "Quicksand", sans-serif;
}


@media (max-width: 1380px) {
    .heroall {
        display: grid;
    }
}

@media (max-width: 1350px) {
    .iconsDiv {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1280px) {
    .iconsDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1240px) {
    .iconsDiv {
        display: none;
    }
}


@media (max-width: 1170px) {
    .heroallcategorischaptomon {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
}

@media (max-width: 1000px) {
    .heroall {
        display: none;
    }

}

@media (max-width: 900px) {
    .headerBottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .headerBottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 350px) {
    #hero-button-hidden-send-btn {
        display: none;
    }
}


.barHeadr {
    display: none;
}

/* ---------------  FeaturedCategoriesText*/
@media (max-width:640px) {

    #FeaturedCategoriesText {
        display: grid;
        grid-template-columns: 3;
        gap: 10px;
    }
}

@media (max-width:500px) {
    #FeaturedCategoriesText {
        display: grid;
        grid-template-columns: 1;

    }
}

@media (max-width: 450px) {
    #FeaturedCategoriesPteg {
        display: grid;
    }
}

/* teenCards media */

@media (max-width: 640px) {
    #teenCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 540px) {
    #teenCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    #teenCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/* -------------- */
